snippet nce "Create entity class"
import { Entity } from 'typeorm'

@Entity()
export class ${1:EntityName}Entity {

}
endsnippet

snippet ncr "Create Repository class"
import { EntityRepository, Repository } from 'typeorm'

@EntityRepository(${2:Entity})
export class ${1:EntityRepositoryName}Repository extends Repository<${2:Entity}> {

}

endsnippet

